<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    -<h1>Loaders & Spinners</h1>
    <h3><%= age %></h3>

<!-- Loader 1 -->

<div class="loader-container">
  <div id="loader1" class="loader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- Loader 2 -->

<div class="loader-container">
  <div id="loader2" class="loader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- Loader 3 -->

<div class="loader-container">
  <div id="loader3" class="loader">
    <span id="big-dot"></span>
    <span class="little-dots"></span>
    <span class="little-dots"></span>
    <span class="little-dots"></span>
    <span class="little-dots"></span>
    <span class="little-dots"></span>
  </div>
</div>

<!-- Loader 4 -->

<div class="loader-container">
  <div id="loader4" class="loader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- Loader 5 -->

<div class="loader-container">
  <div id="loader5" class="loader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<script src = "/javascripts/front.js"></script>
</body>
</html>